<!-- ======= Bigheaded Section ======= -->
<section class="bigheaded bg-dark py-5" style="background-image: url(./assets/imges/bg-img.png) ;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Kognabo</h1>
            <p class="lead fw-normal text-white-50 mb-0">Designed by Banna Group Tech</p>
        </div>
        <div class="d-flex">
            <a href="https://www.youtube.com/watch?v=" class="glightbox btn-watch-video d-flex align-items-center">
                <i class="bi bi-play-circle"></i>
                <span>Regarder la Video</span>
            </a>
        </div>
    </div>
</section><!-- End Bigheaded Section -->