<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="section-header">
            <h2>Contact</h2>
            <p>Besoin D'aide ? <span>Contactez Nous</span></p>
        </div>
        <div class="mb-3">
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->
        <div class="row gy-4">
            <div class="col-md-6">
                <div class="info-item  d-flex align-items-center">
                    <i class="icon bi bi-map flex-shrink-0"></i>
                    <div>
                        <h3>Notre Address</h3>
                        <p> 
                            Mosquée Bacary Toureya <br>
                            Conakry, GN 000000 - Guinée<br>
                        </p>
                    </div>
                </div>
            </div><!-- End Info Item -->
            <div class="col-md-6">
                <div class="info-item d-flex align-items-center">
                    <i class="icon bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email</h3>
                        <p>contact@banna.com</p>
                    </div>
                </div>
            </div><!-- End Info Item -->
            <div class="col-md-6">
                <div class="info-item  d-flex align-items-center">
                    <i class="icon bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Appellez Nous</h3>
                        <p>+224 620 220 364</p>
                    </div>
                </div>
            </div><!-- End Info Item -->
            <div class="col-md-6">
                <div class="info-item  d-flex align-items-center">
                    <i class="icon bi bi-share flex-shrink-0"></i>
                    <div>
                        <h3>Horairs</h3>
                        <div>
                            <strong>Mon-Sat:</strong> 11AM - 23PM;
                            <strong>Sunday:</strong> Closed
                        </div>
                    </div>
                </div>
            </div><!-- End Info Item -->
        </div>
        <form class="app-contact-form p-3 p-md-4">
            <div class="row">
                <div class="col-xl-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom">
                </div>
                <div class="col-xl-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            </div>
            <div class="my-3">
                <div class="error-message"></div>
            </div>
            <div class="text-center">
                <button type="submit">Send Message</button>
            </div>
        </form>
        <!--End Contact Form -->
    </div>
</section><!-- End Contact Section -->