<public-about-us *ngIf="mode == 'public-default'"></public-about-us>
<public-testimonies *ngIf="mode == 'public-default'"></public-testimonies>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div>
                    <h4>Address</h4>
                    <p>
                        Gbessia Mosquée Bacary Toureya <br>
                        Conakry, GN 000000 - Guinée<br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>Contactez nous</h4>
                    <p>
                        <strong>Phone:</strong> +224 620 220 364<br>
                        <strong>Email:</strong> info@banna.com<br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Horaires</h4>
                    <p>
                        <strong>Lun-Ven: 08AM</strong> - 17PM<br>
                        <strong>Sam: 08AM</strong> 13PM <br>
                        Dim: Fermée
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Suivez nous</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Banna Group Tech</span></strong>. 2023
        </div>
        <div class="credits">
            Designed by <a href="https://bannagrouptech.com/">Banna Group Tech</a>
        </div>
    </div>
</footer><!-- End Footer -->
<!-- End Footer -->