<section class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="border p-4 rounded" role="alert">
                    Vous etes déjà client? <a routerLink="Oauth/login">Click ici</a> pour vous connecter
                </div>
            </div>
        </div>
        <form >
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">Détails de facture/addition</h2>
                    <div class="p-3 p-lg-5 border">
                        <div class="form-group">
                            <label for="c_country" class="text-black">Pays<span class="text-danger">*</span></label>
                            <select id="c_country" class="form-control">
                                <option value="1">Selectionnez un Pays</option>    
                                <option value="2">bangladesh</option>    
                                <option value="3">Algeria</option>    
                                <option value="4">Afghanistan</option>    
                                <option value="5">Ghana</option>    
                                <option value="6">Albania</option>    
                                <option value="7">Bahrain</option>    
                                <option value="8">Colombia</option>    
                                <option value="9">Dominican Republic</option>    
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="c_fname" class="text-black">Prénom<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_fname" formControlname="c_fname">
                            </div>
                            <div class="col-md-6">
                                <label for="c_lname" class="text-black">Nom <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_lname" formControlname="c_lname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_companyname" class="text-black">Nom de l'entreprise </label>
                                <input type="text" class="form-control" id="c_companyname" formControlname="c_companyname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_address" formControlname="c_address" placeholder="Street address">
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" class="form-control" id="c_apartment" placeholder="Apartment. (optional)">
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="c_state_country" class="text-black">Etat / Pays <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_state_country" formControlname="c_state_country">
                            </div>
                            <div class="col-md-6">
                                <label for="c_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_postal_zip" formControlname="c_postal_zip">
                            </div>
                        </div>
                        <div class="form-group row mb-5">
                            <div class="col-md-6">
                                <label for="c_email_address" class="text-black">Address Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_email_address" formControlname="c_email_address">
                            </div>
                            <div class="col-md-6">
                                <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_phone" formControlname="c_phone" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c_create_account" class="text-black" data-toggle="collapse" (clicl)="create_an_account" role="button" aria-expanded="false" aria-controls="create_an_account">
                                <input type="checkbox" value="1" id="c_create_account"> Creez un compte?</label>
                            <div class="collapse" #create_an_account>
                                <div class="py-2">
                                    <p class="mb-3">Creez un compte en inscrivant l'information ci-dessous. Si vous etes déjà un client s'il svp connectez-vous en haut de la page.</p>
                                    <div class="form-group">
                                        <label for="c_account_password" class="text-black">Mots pass de compte</label>
                                        <input type="text" class="form-control" id="c_account_password" formControlname="c_account_password" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c_ship_different_address" class="text-black" data-toggle="collapse" (click)="ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address">
                                <input type="checkbox" value="1" id="c_ship_different_address"> Ship To A Different Address?
                            </label>
                            <div class="collapse" #ship_different_address>
                                <div class="py-2">
                                    <div class="form-group">
                                        <label for="c_diff_country" class="text-black">Pays<span class="text-danger">*</span></label>
                                        <select id="c_diff_country" formControlname="c_diff_country" class="form-control">
                                        <option value="1">Select a country</option>    
                                        <option value="2">bangladesh</option>    
                                        <option value="3">Algeria</option>    
                                        <option value="4">Afghanistan</option>    
                                        <option value="5">Ghana</option>    
                                        <option value="6">Albania</option>    
                                        <option value="7">Bahrain</option>    
                                        <option value="8">Colombia</option>    
                                        <option value="9">Dominican Republic</option>    
                                        </select>
                                    </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label for="c_diff_fname" class="text-black">Prénom <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="c_diff_fname" formControlname="c_diff_fname">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="c_diff_lname" class="text-black">Nom<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="c_diff_lname" formControlname="c_diff_lname">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                            <label for="c_diff_companyname" class="text-black">Nom de l'entreprise</label>
                                            <input type="text" class="form-control" id="c_diff_companyname" formControlname="c_diff_companyname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="c_diff_address" formControlname="c_diff_address" placeholder="Street address">
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="c_diff_state_country" class="text-black">Etat / Pays <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="c_diff_state_country" formControlname="c_diff_state_country">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="c_diff_postal_zip" class="text-black">Boite Postal / Zip <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="c_diff_postal_zip" formControlname="c_diff_postal_zip">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-5">
                                        <div class="col-md-6">
                                            <label for="c_diff_email_address" class="text-black">Address email <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="c_diff_email_address" formControlname="c_diff_email_address">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="c_diff_phone" formControlname="c_diff_phone" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c_order_notes" class="text-black">Notes de commande</label>
                            <textarea formControlname="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Mon Bulletin de Commande</h2>
                            <div class="p-3 p-lg-5 border">
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                        <th>Produits</th>
                                        <th>Total</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Top Up T-Shirt <strong class="mx-2">x</strong> 2</td>
                                            <td>$250.00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                            <td class="text-black">$500.00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black font-weight-bold"><strong>Total à payer</strong></td>
                                            <td class="text-black font-weight-bold"><strong>$500.00</strong></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="border p-3 mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>
                                    <div class="collapse" id="collapsebank">
                                        <div class="py-2">
                                            <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="border p-3 mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>

                                    <div class="collapse" id="collapsecheque">
                                        <div class="py-2">
                                            <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="border p-3 mb-5">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>
                                    <div class="collapse" id="collapsepaypal">
                                        <div class="py-2">
                                            <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg py-3 btn-block">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>