<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="menu-starters">
                <div class="tab-header text-center">
                    <p>Menus</p>
                </div>
                <div class="row gy-5">
                    <div class="col-lg-4 menu-item">
                        <a routerLink="/public/product/details/gfhh">
                            <img src="../../../../../assets/images/eating.jpg" class="menu-img img-fluid" alt="">
                        </a>
                        <h4>Est Eligendi</h4>
                        <p class="ingredients">
                            Lorem, deren, trataro, filede, nerada
                        </p>
                        <p class="price">
                            $8.95
                        </p>
                    </div><!-- Menu Item -->
                </div>
            </div><!-- End Starter Menu Content -->
        </div>
    </div>
</section><!-- End Menu Section -->