.border-2-dark {
    border-radius: $btn-border-radius !important;
    border: 2px solid $dark !important;
}
.border-2-secondary {
    border-radius: $btn-border-radius !important;
    border: 2px solid $color-secondary !important;
}